*{
    box-sizing: border-box;
    padding: 0;
    margin:0;
}
html{
    font-family: tahoma;
    font-size:14px;
}
a{
    text-decoration: none;
    list-style: none;
}
a:hover{
    opacity: 0.6;
}
body{
    height:1800px;
    width:1600px;
    background-image: url(../images/background_header.png), url(../images/background_footer.png);
    background-repeat: no-repeat, no-repeat;
    background-position: top center, bottom center;
    background-size: 1920px 700px, 1920px 200px;
    margin: 0 auto;
    background-color: #e2e2e2;
}
.container{
    margin:0 auto;
    width:1100px;
}
.header ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top:20px;
}
.header li{
    list-style: none;
}
.header a{
    color:#aca5b1;
    font-weight: bold;
}
.menu{
    width:1100px;
    height:970px;
    background-color: #ffffff;
    margin:0 auto;
    margin-top:560px;
    margin-bottom:230px;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    padding:20px;
    gap:20px;
}
.full-cell{
    grid-column: 1/5;
}
.title{
    color: #646464;
    font-size:2rem;
    text-align: center;
    font-weight: bold;;
}
.cell{
    border:5px solid #cccccc;
    /* Todo: set center crop attribute for cell */
    object-fit: none; /* Do not scale the image */
    object-position: center; /* Center the image within the element */

}
.cell img{
    height:100%;
    width:100%;
}
.full-cell {
    position: relative;
}
.cell{
    position: relative;
}
.img-title{
    position: absolute;
    left:0px;
    bottom:0px;
    right:0px;
    background-color:#412359cc;
    height:60px;
    width:100%;
    color:#ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
.banner-title{
    position: absolute;
    left:0px;
    top:10px;
    right:0px;
    text-align:center;
    color:#fff;
    font-size:2.3rem;
    padding:5px;
}
.img-title p  { 
    text-align: center;
}

